@font-face {
  font-family: DINRegular;
  src: url("./fonts/DIN\ Regular.ttf");
}

@font-face {
  font-family: DINBold;
  src: url("./fonts/DIN\ Bold.otf");
}
/* global styles */

:root {
  --primaryColor: #000;
  --secondaryColor: #021e7f;
  --assent: #20bbd9;
  --transition: 0.2s ease-out;
  --Regular-Font: DINRegular;
  --Bold-Font: DINBold;
  --backgroungColor: #f2f2f2;
  --boxColor1: #1b1c4c;
  --boxColor2: #2785c2;
  --boxColor3: #321d82;
  --boxColor4: #333333;
  --boxColor5: #ab24be;
  --boxColor6: #1c136c;
}

html {
  scroll-behavior: smooth;
  font-family: var(--Regular-Font);
}

.subheader {
  font-size: 2rem !important;
  font-weight: 700;
  margin: 0.7rem 0;
}

.intro {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem !important;
}

body {
  background-color: #fff;
  font: var(--Font);
  text-decoration: none;
}
/* end of global styles */

/* about */

/* partners
.partner {
  margin-bottom: 1rem;
}

.partners-intro {
  color: var(--secondaryColor);
}

.partner-icon {
  height: 4rem !important;
  margin: 0.5rem;
  border-radius: 5px;
  align-content: center;
} */

/* contact */

/* header */

.navbar {
  /* background-color: white !important; */
  font-size: 1rem !important;

  opacity: 98%;
  background-color: #fff !important;
}

.height {
  height: 100% !important;
}

.nav-link {
  color: #000 !important;
  padding-right: 0.7rem !important;
}

.nav-link:hover {
  color: var(--secondaryColor) !important;
}

.nav-container {
  margin: 0 2rem !important;
}

.logo-a {
  margin: 0 !important;
  padding: 0 !important;
}

.try-us {
  font-family: var(--Regular-Font);
  border: none;
  color: #fff !important;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0px;
  border: 2px solid var(--secondaryColor) !important;
  background-color: #fff;
  transition: var(--transition);
}

.try-us:hover {
  background-color: var(--boxColor1);
}
/* end of header */
/* hero */

.jumbotron {
  background-color: #fff;
  padding: 0;
}

.hero-text {
  padding: 0;
}

.jumbotrone-intro {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-family: var(--Bold-Font);
  font-weight: bold;
}

.jumbro-into-2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--secondaryColor);
  font-family: var(--Regular-Font);
  font-size: 1rem;
}

.hero-intro {
  color: var(--secondaryColor);
  /* font-weight: 700; */
}

.jumbotron-img {
  width: 80%;

  /* margin: 0 auto !important;
  padding: 2rem 0; */
}

.learn-more {
  border: none;
  font-family: var(--Regular-Font);
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 0px;
  background-color: #fff;
  border: 2px solid var(--secondaryColor) !important;
  color: var(--secondaryColor);
  transition: var(--transition);
}

.learn-more:hover {
  background-color: var(--secondaryColor);
}
.partner {
  margin: 2.5rem 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.partner-text {
  font-size: 0.8rem;
  font-family: var(--Bold-Font);
  font-weight: bold;
  color: var(--secondaryColor);
  margin: 2rem 0rem 0.7rem;
}

.partner-img {
  height: 1.6rem !important;
  margin: 0.5rem 1rem;
}

.partner-img:hover {
  opacity: 0.9;
}

.parter-icon {
  height: 100%;
}

/* end of hero */

/* about */
.about {
  background-color: #000;
  color: #fff;
  padding: 1rem 0;
}

.box1 {
  background-color: var(--boxColor1) !important;
}
.box2 {
  background-color: var(--boxColor2) !important;
}
.box3 {
  background-color: var(--boxColor3) !important;
}
.box4 {
  background-color: var(--boxColor4) !important;
}
.box5 {
  background-color: var(--boxColor5) !important;
}

.box6 {
  background-color: var(--boxColor6);
}

.box {
  margin: 0px !important;
  padding: 20px;
  border: 2px solid #000000;
  min-height: 200px;
}

.number {
  width: 20px;
  height: 20px;
  padding: 20px;
  background-color: #fff;
  margin: 5px;
  margin-left: 0;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

.numbertext {
  position: absolute;
  top: 5%;
  left: 10%;
}

.number1 {
  color: var(--boxColor1);
}
.number2 {
  color: var(--boxColor2);
}
.number3 {
  color: var(--boxColor3);
}
.number4 {
  color: var(--boxColor4);
}
.number5 {
  color: var(--boxColor5);
}
.number6 {
  color: var(--boxColor6);
}
/* end of about */
/* contact */
.contact-subheader {
  color: var(--secondaryColor);
}

.team-subheader {
  color: var(--secondaryColor);
  margin-top: 1rem;
}

.our-team-intro {
  color: var(--secondaryColor);
}
/* end of contact */
/* team */
/* .team {
  color: white;
  background-color: #f2f2f2;
  padding: 1.5rem 0;
  margin: 0 auto !important;
}

.team-subheader {
  padding-top: 111rem 0 !important;
}
.card {
  margin: 0 auto;
}

.team-story {
  color: var(--secondaryColor);
}

.contactus-text {
  color: var(--secondaryColor);
}

.card-text {
  color: var(--secondaryColor);
  font-weight: bold;
}

.fa-linkedin-in {
  font-size: 2rem !important;
  margin: 0;
} */
/* end of team */

/* contact us */
.send-button {
  border: 0;
  background-color: var(--secondaryColor);
}

.send-button:hover {
  background-color: var(--boxColor1);
}

form {
  color: var(--secondaryColor);
}

input,
textarea {
  border: 0 !important;
  border-bottom: 2px solid var(--secondaryColor) !important;
  border-radius: 0 !important;
}

.contact-info {
  font-family: var(--Font);
  padding-top: 1rem !important;
  padding-left: 0;
  color: var(--secondaryColor) !important;
  margin: 1rem 0 !important;
  font-size: 1.2rem;
}

.social-icon {
  font-family: var(--Font);
  font-size: 2rem;
  color: var(--secondaryColor);
}

.social-icon:hover {
  color: var(--boxColor1);
}

/* media queries */
/* media queries */
/* media queries */
/* media queries */
/* media queries */

@media only screen and (min-width: 748px) {
  .jumbotron-img {
    padding: 0 !important;
    padding-bottom: 1rem !important;
  }
  .display-6 {
    font-size: 0.8rem !important;
    line-height: 40px !important;
    font-size: 2.5rem !important;
  }
  .img-div {
    margin-top: 1rem;
  }
}
/* big laptops */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .jumbotron {
    margin: 0 100px !important;
    margin-bottom: 100px !important;
  }

  .hero-intro {
    font-size: 2.2rem !important;
  }

  .jumbro-into-2 {
    font-size: 1.2rem !important;
  }
}

/* small laptops */
@media screen and (min-device-width: 768px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .jumbotron {
    margin: 0 70px !important;
    padding-bottom: 1rem !important;
  }

  .hero-intro {
    font-size: 1.8rem !important;
    margin-top: 5rem;
  }

  .jumbro-into-2 {
    font-size: 1rem !important;
    margin-bottom: 5rem;
    line-height: 1.7em;
  }
}
